html {
	text-align:center;
	color:black;
}

body {
	background-color:green;
	font-size:16px;
}	

p {
	color:blue;
}

h1 {
	
}

.myName {
	color:purple;
	font-size:20px;
}

.cold {
	background-color:#95A5A6;
}

.chilly {
	background-color:#1ABC9C;
}

.nice {
	background-color:#2980B9;
}

.warm {
	background-color:#E67E22;
}

.hot {
	background-color:#E74C3C;
}

#clock {
	color:white;
	font-size:60px;
}

#cityname {
	padding-top:10px;
}